/* =================================== LIGHT MODE ===================================== */

.frame-1-l{
  align-items: center;
  background-image: linear-gradient(to left, rgb(255, 220, 226), rgb(230, 248, 255));
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  position: relative;
}
  
.mask-group-1-l {
	padding: 0px;
	margin: 0px;
  background-image: linear-gradient(to right, #ffe8e3,#ffd0c6, rgb(255, 255, 149), rgb(255, 207, 118));
  height: 250px;
  width: 100%;
}
  
.connect-with-me-l{
  color: var(--black-l);
  font-family: var(--font-family-sf_pro_display-medium);
  font-size: var(--font-size-xxl2);
  text-align: center; 
}

.rollno-l{
  color: #770000;
  font-family: var(--font-family-sf_pro_display-bold);
  font-size: var(--font-size-s2);
  text-align: center;
}
  
.mask-group-l {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to right, #20e1ff, rgb(75, 255, 186), rgb(134, 255, 134), rgb(255, 255, 130)) ;
  height: 89px;
  width: 100%;
}

.mask-group-2-l{
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to left, rgb(255, 183, 245),rgb(173, 199, 255), rgb(191, 255, 191));
  height: 300px;
  width: 100%;
}
.suggest-l{
  margin-top: 5px;
  padding-top: 20px;
  color: #0b1252;
  font-family: var(--font-family-sf_pro_display-semibold);
  font-size: var(--font-size-m);
}

input[name="submit-l"]{
  background-color: rgb(0, 67, 155);
  border: none;
  border-radius: 5px;
  height: 33px; width: 90px;
  font-family: var(--font-family-sf_pro_display-medium);
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[name="submit-l"]:hover{
  background-color: #5c1e02;
}
  
.flex-row-l {
  align-items: flex-start;
  display: flex;
  height: 871px;
  margin-left: 48px;
  margin-top: 74px;
  min-width: 1287px;
}
  
.flex-col-l {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 870px;
  width: 459px;
}

.cursive-l{
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  color: #100292;
  font-size: 30px;
  margin-left: 22px;
  margin-top: 22px;  
}

.cursive-l:hover{color: #a70000;}

.btn-l{
  border: 0;
  border-radius: 15px  ;
  height: 30px;
  width: 120px;
  background:rgb(61, 61, 73);
  margin-right: 25px;
  color: rgb(230, 232, 238);
  font-family: var(--font-family-sf_pro_display-bold);  
  font-size: 15px;
  text-decoration: none;
}

.btnf-l{
  border: 0;
  border-radius: 15px ;
  height: 30px;
  width: 150px;
  font-family: var(--font-family-sf_pro_display-bold);  
  font-size: 15px;
  text-decoration: none;
  background: rgb(18, 0, 122);
  color: #acdeff;
}

.btn-l:hover{
  background: #005a29;
  color: #acffce;
}

.btnf-l:hover{
  background: #2210c2;
  color: #ffffff;
}

.rectangle-1-l {
  height: 425px;
  object-fit: cover;
  width: 453px;
  border-radius: 15px;
}
  
.overlap-group2-l {
  height: 441px;
  margin-top: 4px;
  position: relative;
  width: 100%;
}

.rectangle-4-l {
  background-color: transparent;
  height: 441px;
  left: 0;
  position: absolute;
  top: 0;
  width: 453px;
}
  
.gmail-l {
  height: 21px;
  left: 18px;
  position: absolute;
  top: 171px;
  width: 26px;
}
  
.clg-l {
  height: 27px;
  left: 17px;
  position: absolute;
  top: 278px;
  width: 29px;
}

.loc-l {
  height: 30px;
  left: 16px;
  position: absolute;
  top: 108px;  
}

.cake-l {
  height: 27px;
  left: 18px;
  position: absolute;
  top: 53px;
}
  
.ph-l {
  height: 25px;
  left: 18px;
  position: absolute;
  top: 224px;
  width: 25px;
}

.name-l {
  color: rgb(37, 37, 175);
  font-family: var(--font-family-sf_pro_display-semibold);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  position: absolute;
  top: 55px;
  width: 393px;
}
  
.overlap-group1-l {
  height: 789px;
  margin-left: 60px;
  position: relative;
  width: 768px;
}
  
.title-l {
  background-image: linear-gradient(to right,  rgb(255, 0, 0), rgb(218, 63, 16), rgb(255, 64, 143), rgb(192, 11, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-family-sf_pro_display-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  margin-top: 0;    
}

.title-l:hover{
  background-image: linear-gradient(to right,  rgb(29, 9, 141), rgb(105, 37, 194), rgb(22, 90, 190), rgb(61, 159, 204), rgb(36, 133, 108));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
.rectangle-2-l {
  margin: auto;
  background-color: transparent;
  height: 139px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 751px;
}

.desc-l {
  color: var(--black-l);
  font-family: var(--font-family-sf_pro_display-semibold);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 91px;
  letter-spacing: 0;
  position: absolute;
  top: 102px;
  width: 677px;
  text-align: justify;
}